footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  background-color: var(--g-border);
  text-align: center;
}

.footer-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}

.footer-link {
  font-family: 'Gentium Plus', serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-link:hover {
  transform: translateY(-4px);
}

.footer-highlight {
  color: #FFC36E;
}

.footer-copyright {
  padding-bottom: 1rem;
}

.footer-copyright p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin-bottom: 1rem;
}