/*
  src/styles/globals.css

  Purpose:
  - Global styles and root-level styling
*/

#root {
  font-family: system-ui, serif, Gentium Plus, Lato, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  font-size: 16;
  color-scheme: light dark;
  background-color: #1A1000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  --bg-dark: oklch(0.1817 0.0374 82.46 / 95%); 
  --bg-light: oklch(0.8383 0.0 82.46 / 95%);
  --text-dark: oklch(0 0 0);;
  --text: oklch(1 0 0 / 87%);
  --text-yellow: oklch(0.7349 0.1068 74.45);
  --text-muted: oklch(1 0 0 / 70%);;
  --y-border: oklch(0.7349 0.1068 74.45 / 20%);
  --g-border: oklch(0.3662 0.1061 134.56);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container div {
  margin: 30px;
  padding: 1rem;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.app-layout > * {
  flex: 1 1 100%;
  width: 100%;
}

a {
  font-weight: 200;
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  font-family: 'Gentium Plus';
  font-size: 64px;
  font-weight: 400;
  margin-block-start: 0em;
  margin-block-end: 0em;
  opacity: 0.75;
}

h2 {
  font-family: 'Gentium Plus';
  font-size: 4rem;
  font-weight: 400;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
}

h1 {
  font-family: 'Gentium Plus';
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0.2em;
  color: var(--text, rgba(255, 255, 255, 0.87));
}

p {
  font-family: 'Lato';
  font-size: 0.72em;
  font-weight: 400;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


button {
  max-width: 192px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  font-family: 'Lato';
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 24px;
  font-weight: 100;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #D19F58;
}
button:hover {
  border-color: var(--g-border);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}