/*
  src/styles/home.css

  Purpose:
  - Home section specific styles
*/

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.home-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.hero-persona {
  display: flex;
  flex: 0 1 0;
  min-width: 24rem;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
}

.hero-persona img {
  max-width: 372.48px;
}

.hero-description {
  display: flex;
  flex: 0 1 0;
  justify-content: space-between;
  gap: 5%;
  min-width: 375px;
  min-height: 375px;
  flex-direction: column;
  background-color: var(--bg-dark);
  border: 1.5px solid var(--y-border);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  text-align: left;
}


.caption {
  padding: 10px 0px;
  color: var(--text-yellow);
  text-align: left
}

.textbox {
  color: var(--text);
}
