/*
  src/styles/home.css

  Purpose:
  - Home section specific styles
*/

.left-box {
  margin: 120px;
  text-align: left;
  max-width: 30vw;
}

.right-box {
  margin: 120px;
  text-align: left;
  background-color: #D19F58;
  width: 375px;
  height: 420px;
  filter: drop-shadow(16px 16px 2px #244A00);
}

.caption {
  padding: 10px 0px;
  color: #D19F58;
}

.textbox {
  color: #1A1000;
}
